* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
  list-style: none;
}

/* navbar section */
.nav-section {
  height: 15vh;
  background: #636c79;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.nav-menu {
  margin: auto;
  margin-right: 0;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  padding: 0 40px;
  color: #fff;
  font-size: 18px;
}

.nav-list-item:hover {
  color: #474747;
}

.ham-menu {
  display: none;
}

.btn {
  color: #fff;
  background-color: #8bb7a2;
  border: none;
  font-size: 16px;
  width: 150px;
  padding: 10px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #fff;
  background-color: transparent;
}

/* hero section */

.hero-section {
  /* height: 85vh; */
  padding-bottom: 100px;
  background: #636c79;
}

.hero {
  display: flex;
  padding: 50px 200px 0 0;
  justify-content: space-evenly;
}

.hero-left img {
  object-fit: cover;
  width: 500px;
  height: 650px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.hero-right h1 {
  font-size: 60px;
  width: 500px;
}

.hero-right p {
  font-size: 16px;
  line-height: 35px;
  margin-top: 25px;
  letter-spacing: 1px;
  width: 500px;
}

.email-field {
  background-color: #fff;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.email-field input {
  height: 40px;
  flex-grow: 2;
  border: none;
  outline: none;
  padding: 10px;
}

.email-field button {
  justify-content: flex-end;
}

.email-field img {
  height: 20px;
  margin: 5px;
}

/* /////////////////////// */
/* section 2 */
/* /////////////////////// */

.section2 {
  padding: 70px 100px;
}

.section2-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2-heading h1 {
  font-size: 36px;
  text-align: center;
}

.section2-stats p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.section2-stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.section2-img {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.section2-img img {
  object-fit: cover;
  object-position: top;
  width: 90%;
  height: 600px;
}

/* ///////////////////////// */
/* section 3 */
/* ///////////////////////// */

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.section3-heading h1 {
  font-size: 36px;
  text-align: center;
  width: 400px;
}

.slides {
  width: 100%;
  padding: 50px 100px;
}

.slide1,
.slide2,
.slide3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.slide1-left,
.slide2-right,
.slide3-left {
  margin: auto 0;
}

.slides h1 {
  font-size: 36px;
}

.slides p {
  font-size: 16px;
  font-weight: 600;
  color: #636c79;
  margin-top: 15px;
  line-height: 30px;
}

.slides button {
  margin-top: 30px;
}

.slides img {
  object-fit: cover;
  object-position: center top;
  height: 500px;
  width: 500px;
  /* height: 55vh;
  width: 25vw; */
}

.slide1 img {
  object-position: right top;
}

/* //////////////////////// */
/* section 4 */
/* //////////////////////// */

.section4 {
  margin: 100px;
}

.section4-heading {
  display: flex;
  justify-content: flex-start;
}

.section4-heading h1 {
  font-size: 36px;
}

.section4-heading p {
  font-size: 16px;
  font-weight: 600;
  color: #636c79;
  line-height: 30px;
  margin-left: 40%;
}

.cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 400px;
}

.card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
}

.card p {
  font-size: 16px;
  font-weight: 500;
  color: #636c79;
  margin-top: 20px;
}

.cards img {
  /* width: 20vw; */
  width: 400px;
}

.section4 > div:nth-child(3) {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* ////////////////////////////////// */
/* footer section */
/* ////////////////////////////////// */

.footer-section {
  padding: 50px 100px;
  background-color: #10181d;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #636c79;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-bottom h3 {
  font-size: 18px;
}

.footer-bottom .list-item {
  font-size: 16px;
  color: #a6a6a6;
  margin-top: 15px;
}

/* /////////////////////////////////////////////// */
@media (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .nav-menu {
    display: none;
  }

  .nav-logo img {
    width: 100px;
  }

  .nav-actions {
    display: flex;
  }

  .ham-menu {
    display: block;
  }

  .btn {
    font-size: 14px;
    width: 100px;
  }
  /*  */

  .hero {
    flex-direction: column;
    padding: 50px 20px;
  }

  .hero-left img {
    width: 400px;
    height: auto;
  }

  .hero-right {
    align-items: center;
  }

  .hero-right h1 {
    font-size: 34px;
    text-align: center;
    width: 400px;
  }
  .hero-right p {
    font-size: 14px;
    text-align: center;
    width: 400px;
  }

  /* Section-2 */

  .section2 {
    padding: 20px;
  }

  .section2-heading h1 {
    font-size: 24px;
  }

  .section2-img img {
    width: 400px;
    height: auto;
  }

  /* Section-3 */
  .section3-heading h1 {
    font-size: 28px;
  }

  .slides {
    padding: 20px;
  }

  .slide1,
  .slide3 {
    flex-direction: column;
  }
  .slide2 {
    flex-direction: column-reverse;
  }

  .slide1-left,
  .slide2-right,
  .slide3-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide1-left h1,
  .slide1-left p,
  .slide2-right h1,
  .slide2-right p,
  .slide3-left h1,
  .slide3-left p {
    text-align: center;
  }

  .slides h1 {
    font-size: 24px;
  }

  .slides img {
    margin-top: 30px;
    width: 400px;
    height: auto;
  }

  /* Section-4 */
  .section4 {
    margin: 20px;
  }

  .section4-heading {
    flex-direction: column;
  }

  .section4-heading h1 {
    font-size: 24px;
    text-align: center;
  }

  .section4-heading p {
    margin-left: 0;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Footer-section */
  .footer-section {
    padding: 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* ////// */
@media (min-width: 480px) and (max-width: 960px) {
  nav {
    padding: 20px;
  }

  .nav-menu {
    display: none;
  }

  .nav-logo img {
    width: 100px;
  }

  .nav-actions {
    display: flex;
  }

  .ham-menu {
    display: block;
  }

  .btn {
    font-size: 14px;
    width: 100px;
  }
  /*  */

  .hero {
    flex-direction: column;
    padding: 50px 20px;
  }

  .hero-left img {
    width: 100%;
    height: auto;
  }

  .hero-right {
    align-items: center;
  }

  .hero-right h1 {
    font-size: 34px;
    text-align: center;
    width: 400px;
  }
  .hero-right p {
    font-size: 14px;
    text-align: center;
    width: 400px;
  }

  /* Section-2 */

  .section2 {
    padding: 20px;
  }

  .section2-heading h1 {
    font-size: 24px;
  }

  .section2-img img {
    width: 400px;
    height: auto;
  }

  /* Section-3 */
  .section3-heading h1 {
    font-size: 28px;
  }

  .slides {
    padding: 20px;
  }

  .slide1,
  .slide3 {
    flex-direction: column;
  }
  .slide2 {
    flex-direction: column-reverse;
  }

  .slide1-left,
  .slide2-right,
  .slide3-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slide1-left h1,
  .slide1-left p,
  .slide2-right h1,
  .slide2-right p,
  .slide3-left h1,
  .slide3-left p {
    text-align: center;
  }

  .slide1-img,
  .slide2-img,
  .slide3-img {
    display: flex;
    justify-content: center;
  }

  .slides h1 {
    font-size: 24px;
  }

  .slides img {
    margin-top: 30px;
    width: 400px;
    height: auto;
  }

  /* Section-4 */
  .section4 {
    margin: 20px;
  }

  .section4-heading {
    flex-direction: column;
  }

  .section4-heading h1 {
    font-size: 24px;
    text-align: center;
  }

  .section4-heading p {
    margin-left: 0;
    text-align: center;
  }

  .cards {
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Footer-section */
  .footer-section {
    padding: 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 960px) and (max-width: 1350px) {
  nav {
    padding: 40px;
  }

  .nav-list-item {
    padding: 0 16px;
  }

  .hero {
    padding: 50px;
  }

  .hero-left img {
    width: 300px;
  }

  .slide2-img img {
    width: 300px;
  }

  .section4-heading {
    flex-direction: column;
  }

  .section4-heading p {
    margin-left: 0;
  }

  .cards {
    justify-content: center;
  }
}
